<h1>Lobby room</h1>

<h3>Messages</h3>
<div id="messages">
  <%= for message <- @messages do %>
    <p><%= message.message %></p>
  <% end %>
</div>

<label style="margin-top: 60px;">
  <input placeholder="Message here" id="message-texteditor" style="width: 100%; padding: 10px;border-radius: 3px; border: solid 1px #d2d2d2;" />
</label>