/* This file is for your main application css. */

@import "./phoenix.css";

p {
    padding: 0;
    margin: 0;
}

#messages {
  height: 50vh;
  overflow-y: scroll;
}

.chat-message--head {
  font-size:12px;
  margin: 0;
}

.chat-message--name {
  font-weight: bold;
  color: blue;
}


.chat-message--body {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 8px;
}

.chat-message--date {
  font-size: 12px;
  color: gray;
}